In [ ]:
'''# mount drive
from google.colab import drive
drive.mount('/content/drive')'''

In [ ]:
'''# move directory
import os
colab_dir = "./drive/MyDrive/"
os.chdir(colab_dir)'''

In [1]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib_inline
%matplotlib inline

In [2]:
# set random seed
import random
random.seed(335)

In [3]:
# magic word
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [4]:
# for better viz
import pprint
import warnings
warnings.filterwarnings('ignore')

### reference
-------------------

- [pandas cheat sheet](https://github.com/pandas-dev/pandas/tree/master/doc/cheatsheet)
- [numpy cheat sheet(data camp)](https://www.datacamp.com/community/blog/python-numpy-cheat-sheet)
- [scikit-learn cheat sheet(data camp)](datacamp.com/community/blog/scikit-learn-cheat-sheet)

# data preparation
---------------------
The data preparation phase covers all activities to construct the final dataset (data that will be fed into the modeling tool(s)) from the initial raw data. Data preparation tasks are likely to be performed multiple times and not in any prescribed order. Tasks include table, record and attribute selection as well as transformation and cleaning of data for modeling tools.

## select data
----------

### output

I removed a significant portion of the features to avoid any potential data leakage. The columns WHEELS_OFF, WHEELS_ON, AIR_TIME, DEP_DELAY, DEP_TIME, DELAY_DUE_{SOMETHING}, TAXI_OUT and TAXI_IN became known gradually during the flight. Metadata about the airline was removed due to redundancy (we are working with a specific airline). Information about flight cancellations and delays would not provide useful insights, as it usually becomes known just before the flight, and using it for long-term predictions would be erroneous. As a result, the remaining data pertains to airport locations and flight plans (distances, expected duration, and scheduled takeoff and landing times). ARR_DELAY was saved as target variable.

From airports dataset I delete all above latitude and longitude.

In [18]:
import pandas as pd
df_flights = pd.read_csv('Data/ALL_FLIGHTS_2021_2023.csv')
df_airports = pd.read_csv('Data/airports.csv')

In [19]:
df_south= df_flights.loc[(df_flights.AIRLINE == 'Southwest Airlines Co.') & (df_flights.CANCELLED == 0)]
# remove unnncesary columns
columns = ['AIRLINE_CODE', 'AIRLINE_DOT', 'DOT_CODE', 'FL_NUMBER', 'ORIGIN_CITY', 'DEST_CITY', 
           'WHEELS_OFF', 'WHEELS_ON', 'ARR_TIME', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'AIR_TIME',
           'DELAY_DUE_CARRIER', 'DELAY_DUE_WEATHER', 'DELAY_DUE_NAS', 'DELAY_DUE_SECURITY', 'DELAY_DUE_LATE_AIRCRAFT', 'ELAPSED_TIME',
           'TAXI_IN', 'WHEELS_OFF', 'WHEELS_ON', 'DEP_TIME', 'DEP_DELAY'] # remove no columns if array is empty
df = df_south.drop(columns=columns, axis=1)

In [29]:
columns = ['AIRPORT', 'CITY', 'STATE', 'COUNTRY']
airports = df_airports.drop(columns=columns, axis=1)

## clean data
------------------

In [30]:
airports.head()

  IATA   LATITUDE   LONGITUDE
0  ABQ  35.040222 -106.609194
1  ANC  61.174320 -149.996186
2  ATL  33.640444  -84.426944
3  AUS  30.194533  -97.669872
4  BDL  41.938874  -72.683228

In [20]:
df.head()

,FL_DATE,AIRLINE,ORIGIN,DEST,CRS_DEP_TIME,TAXI_OUT,CRS_ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,DISTANCE
106,2021-01-01,Southwest Airlines Co.,BWI,BNA,1255,9.0,1355,-8.0,120.0,587.0
1364,2021-01-01,Southwest Airlines Co.,ATL,MCI,1635,12.0,1750,-2.0,135.0,692.0
1365,2021-01-01,Southwest Airlines Co.,ATL,BWI,1200,8.0,1345,-14.0,105.0,577.0
1366,2021-01-01,Southwest Airlines Co.,ATL,BWI,1725,13.0,1905,23.0,100.0,577.0
1367,2021-01-01,Southwest Airlines Co.,ATL,LGA,1950,14.0,2205,9.0,135.0,762.0

In [21]:
df.isnull().sum()

FL_DATE                0
AIRLINE                0
ORIGIN                 0
DEST                   0
CRS_DEP_TIME           0
TAXI_OUT               0
CRS_ARR_TIME           0
ARR_DELAY           7297
CRS_ELAPSED_TIME       0
DISTANCE               0
dtype: int64

In [23]:
df = df.dropna()

In [24]:
df.isnull().sum()

FL_DATE             0
AIRLINE             0
ORIGIN              0
DEST                0
CRS_DEP_TIME        0
TAXI_OUT            0
CRS_ARR_TIME        0
ARR_DELAY           0
CRS_ELAPSED_TIME    0
DISTANCE            0
dtype: int64

In [26]:
df = df.drop_duplicates()

In [ ]:
df.to_csv('southwest_clean.csv', index=False)
airports.to_csv('airports_data.csv', index=False)

## All later preparation stages will be in second part of notebook, due to Big Data (for which retake I did same project) constraints